.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    padding: 10px;
    justify-content: center;
}

.square {
    border: solid rgb(0, 0, 0);
}

.Active {
    background-color: black;
}

button {
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    margin-left: 30px;
    background-color: rgb(7, 32, 253);
    color: rgb(255, 255, 255);
}